<footer>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="navbar-footer">
		<div class="navbar-left">
      	<ul class="nav navbar-nav">
          <li><%= link_to "Browse All Quotes",   '#' %></li>
          <li><%= link_to "Random 10 Quotes",    '#' %></li>
          <li><%= link_to "Top 10 Quotes",       '#' %></li>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><%= link_to "About",    about_path    %></li>
			    <li><%= link_to "Feedback", feedback_path %></li>
        </ul>
    </div>
</nav>
</header>